__pycache__/
*.py[cod]
.DS_Store
._*

checkpoint/
ckpts/
pretrain_ckpts/
outputs/
dataset1/
pickle/
data/

*.bin
*.pth
*.pt
*.safetensors
*.ckpt

render_release/diff-gaussian-rasterization/build/
render_release/diff-gaussian-rasterization/*.egg-info/
render_release/diff-gaussian-rasterization/diff_gaussian_rasterization/_C*.so
